<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HoshiarpurNews</title>
</head>
<body>
    <label for="city">city</label><br>
    <input type="text" name="hoshiarpur" placeholder="searchcity"><br>
    <label for="tempreature">{{city_weather.tempreature}}</label><br>
    <br>
    <br>
    <label for ='pressure'>pressure</label><br>
    <br>
    <br>
    <label for ='humidity'>humidity</label><br>
    <br>
    <br>
    <input type="submit">
</body>
</html>